<div class="main-content-container">
  <header>
    <h1>Admin Panel</h1>
  </header>
  <section>
    <header>
      <h2>Add Blog</h2>
    </header>
    <div class="box">
      <div class="topper"></div>
      <div class="meta-content-container">
        <div class="content-container">
          <form id="add-form" action="/admin/blog/add" method="post" enctype="multipart/form-data" novalidate>
            <label>
              <h4>Title</h4>
              <input type="text" name="title" id="add-title" placeholder="Blog Title" required>
              <p class="input-message hidden">What's the title?</p>
            </label>
            <label>
              <h4>Date</h4>
              <input type="date" name="date" id="add-date" required>
              <p class="input-message hidden">Invalid date</p>
            </label>
            <label>
              <h4>Genre</h4>
              <select>
                {{#each genres}}
                  <option value="{{ id }}">{{ title }}</option>
                {{/each}}
              </select>
              <p class="input-message hidden">Invalid genre</p>
            </label>
            <label>
              <h4>Content</h4>
              <input type="file" name="file" id="add-file">
              <p class="input-message hidden">Invalid file</p>
            </label>
            <button type="submit">Add</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section>
    <header>
      <h2>Edit Blog</h2>
    </header>
    <div class="box">
      <div class="topper"></div>
      <div class="meta-content-container">
        <div class="content-container">
          <form id="edit-blog-form" action="/admin/genre/edit" method="get" novalidate>
            <h4>All Blogs</h4>
            <ul>
              {{#each blogs}}
                <li data-id="{{ id }}">
                  {{ title }}
                  <a class="genre-edit-btn">Edit</a>
                  {{!-- <a class="genre-delete-btn">Delete</a> --}}
                </li>
              {{/each}}
            </ul>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section>
    <header>
      <h2>Add Genre</h2>
    </header>
    <div class="box">
      <div class="topper"></div>
      <div class="meta-content-container">
        <div class="content-container">
          <form id="add-genre-form" action="/admin/genre/add" method="post" novalidate>
            <label>
              <h4>Title</h4>
              <input type="text" name="genre-title" id="add-genre-title" placeholder="New Genre Title" required>
              <p class="input-message hidden">What's the title?</p>
            </label>
            <button type="submit">Add</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section>
    <header>
      <h2>Edit Genre</h2>
    </header>
    <div class="box">
      <div class="topper"></div>
      <div class="meta-content-container">
        <div class="content-container">
          <form id="edit-genre-form" action="/admin/genre/edit" method="post" novalidate>
            <h4>All Genres</h4>
            <ul>
              {{#each genres}}
                <li data-id="{{ id }}">
                  {{ title }}
                  <a class="genre-edit-btn">Edit</a>
                  {{!-- <a class="genre-delete-btn">Delete</a> --}}
                </li>
              {{/each}}
            </ul>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

